<div class="footer">
  <div class="footer__contents">
    <div class="footer__left">
      <div class="footer__warning"><strong>⚠️ Warning:</strong> Information published on this site is provided for educational purposes only. All information on this site may contain inaccuracies and omissions. skydive.dev expressly disclaims any and all inaccuracies and omissions published.</div>
    </div>
    <div class="footer__right">
      <a href="{{editPath}}">Edit this page 📝</a>
      <a href="mailto:alex@skydive.dev">Email feedback ✉️</a>
    </div>
  </div>
</div>
