<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>404 Page not found | {{ title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="PRAGMA" content="NO-CACHE">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="404 Page not found | {{title}}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:image" content="{{image}}">
    <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/skydive.dev\/","name":"{{title}}"}</script>

    {{> head rel='/'}}
  </head>

  <body>
    <div class="header-wrapper">
      <header>      
        {{> title rel='/'}}

        {{> nav rel='/'}}
      </header>
    </div>

    <main>
      {{{ contents }}}
    </main>

    {{> footer rel='/'}}

    {{> vendor rel='/'}}
  </body>
</html>
