<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{ pageTitle }} | {{ title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="{{canonical}}">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{pageTitle}} | {{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="{{canonical}}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:image" content="{{image}}">
    <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/skydive.dev\/","name":"{{title}}"}</script>

    {{> head rel='../../../'}}
  </head>

  <body>
    <div class="header-wrapper">
      <header>      
        {{> title rel='../../../'}}

        {{> nav rel='../../../'}}
      </header>
    </div>

    <main>
      <h2><a href="../../">🔙</a> {{ pageTitle }}</h2>

      <p><strong>🗓 Issue date:</strong> {{title}}</p>
      <p><strong>❓ Subject:</strong> {{description}}</p>
      <p><strong>✋ Status:</strong> {{status}}</p>
      <p><strong>✅ Identification:</strong> {{identification}}</p>
      <p><strong>📄 Source:</strong> <a href="source.pdf">PDF</a> <span class="light">(<a href="{{source}}">Original</a> accessed: {{ source_accessed }})</span></p>

      {{{ contents }}}
    </main>

    {{> footer rel='../../../'}}

    {{> vendor rel='../../../'}}
  </body>
</html>
