<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{ title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="{{canonical}}">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="{{canonical}}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:image" content="{{image}}">
    <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/skydive.dev\/","name":"{{title}}"}</script>

    {{> head}}
  </head>

  <body>
    <div class="header-wrapper">
      <header>      
        {{> title}}

        {{> nav}}
      </header>
    </div>

    <main>
      {{{ contents }}}
    </main>

    {{> footer}}

    {{> vendor}}
  </body>
</html>
