<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{ pageTitle }} | {{ title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="{{canonical}}">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{pageTitle}} | {{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="{{canonical}}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:image" content="{{image}}">
    <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/skydive.dev\/","name":"{{title}}"}</script>

    {{> head rel='../'}}
  </head>

  <body>
    <div class="header-wrapper">
      <header>      
        {{> title rel='../'}}

        {{> nav rel='../'}}
      </header>
    </div>

    <main>
      <h2><a href="../../">🔙</a> {{ pageTitle }}</h2>

      <ul>
        {{#if website}}<li><a href="{{ website }}">Website</a> 🌎</li>{{/if}}
        {{#if service_bulletins}}<li><a href="{{ service_bulletins }}">SB/AD Source</a>{{#if service_bulletins_accessed}} <span class="light">(accessed: {{ service_bulletins_accessed }})</span>{{/if}}</li>{{/if}}
      </ul>

      <h3>Service Bulletins and ADs</h3>
      <table>
        <tr>
          <th>Date</th>
          <th>Description</th>
        </tr>

        {{#each bulletins}}
        <tr>
          <td><a href="{{url}}">{{title}}</a></td>
          <td>{{short_description}}</td>
        </tr>
        {{/each}}
      </table>

      {{{ contents }}}
    </main>

    {{> footer rel='../'}}

    {{> vendor rel='../'}}
  </body>
</html>
