<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{ pageTitle }} | {{ title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="{{canonical}}">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{pageTitle}} | {{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="{{canonical}}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:image" content="{{image}}">
    <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/skydive.dev\/","name":"{{title}}"}</script>

    {{> head rel='../'}}
  </head>

  <body>
    <div class="header-wrapper">
      <header>      
        {{> title rel='../'}}

        {{> nav rel='../'}}
      </header>
    </div>

    <!-- <h1>{{ pageTitle }}</h1> -->

    <main>
      {{{ contents }}}
    </main>

    {{> footer rel='../'}}

    {{> vendor rel='../'}}
  </body>
</html>
