.email-signup {

}

.email-signup__submit,
.email-signup__input {
  appearance: none;
  height: 40px;
}

.email-signup__input {
  margin-right: 10px;
  max-width: 250px;
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0;

  &:focus {
    outline: 0;
    border-color: #158e6e;
  }
}

.email-signup__submit {
  background: #158e6e;
  color: white;
  border: none;
  border-radius: 1.5rem;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    background: lighten(#158e6e, 5%);
  }
}
