.footer {
  background: rgba(0, 0, 0, 0.1);
}

.footer__contents {
  margin: 1.5em auto;
  width: 100%;
  max-width: 800px;
  padding: 0 10px;

  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.footer__left {
  flex: 1;
}

.footer__warning {
  font-size: 0.9em;
  color: #777;
  line-height: 1.5;
  text-align: justify;
}

.footer__right {
  margin-left: 1.5em;

  @media (max-width: 767px) {
    order: -1;
    margin-bottom: 1em;
    margin-left: 0;
  }

  a {
    text-decoration: none;
    display: block;
    border: 1px solid currentColor;
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #666;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
