@import 'variables';
@import 'fonts';

html {
  box-sizing: border-box;

  background-color: #fffcf5;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0;
  line-height: 1.6;
  color: #566b78;

  // sticky footer
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.three-columns {
  column-count: 3;

  @media (max-width: 767px) {
    column-count: 1;
  }

  h3 {
    margin-top: 0;
  }
}

.avoid-column-break {
  break-inside: avoid;
}

.desktop-only {
  @media (max-width: 720px) {
    display: none;
  }
}

.mobile-only {
  @media (min-width: 721px) {
    display: none;
  }
}

.body-noscroll {
  overflow: hidden;
}

main {
  flex: 1 1 auto; // sticky footer
  // 1 1 auto instead of 1 for ie11
}

h1,
h2,
h3,
strong {
  color: #333;
}

h2,
h3 {
  margin-top: 1em;
  padding-top: 1em;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

pre {
  border-left: 2px solid #69c;
}

a {
  color: #8e6e15;

  &[href^='tel:'] {
    text-decoration: none;
    color: inherit;
  }
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

header {
  max-width: 1000px;
  margin: 0 auto;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.light {
  color: #aaa;
  font-size: 0.7em;
}

main {
  margin: 0 auto 1em;
  width: 100%;
  max-width: 800px;
  padding: 0 10px;

  table {
    width: 100%;

    td {
      padding: 5px 10px;
    }

    thead {
      tr {
        background: #00d2ff;
        color: white;
        font-weight: 400;
      }
    }
    tbody {
      tr:nth-child(odd) {
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
  }
}

main {
  display: block;
}

.header-wrapper {
  color: white;

  background: #00d2ff;
  background: linear-gradient(to left, #00d2ff, #3a7bd5);

  background-position: center 71%;
  background-size: cover;
  
  position: relative;

  &::before {
    content: '';

    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: linear-gradient(to left, #00d2ff, #3a7bd5);
  }
}

.full-width {
  width: 100%;
  height: auto;
}

section {
  margin: auto;
  max-width: 34em;
  padding: 0 1em;
}

@import 'footer';
@import 'emailSignup';
